h3{
  text-align: center;
  background-color:forestgreen;
}
form{
  border-radius: 2;
}
.section-divider{ 
    margin: 3rem 0;
}

@media (min-width: 1200px) {
  .feature-heading {
    margin-top: 10rem;
  }
}

@media (max-width: 540px) {
    .carouselImg {
        display: none;
    }
    
    .team {
        margin-top: 2rem;
    }
}

.footer-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: green;
}




























